{% extends "base.html" %}
{% block titolo %}{{ stanza.titolo }}{% endblock %}
{% block robot %}<meta name=robots content="noindex,nofollow">{% endblock %}

{# La porta della stanza. Si vede il titolo e il codice - chi arriva deve
   poter capire di essere nel posto giusto - e niente di quello che c'e'
   dentro: chi sta guardando, cosa si sta guardando, chi c'e'. #}
{% block contenuto %}
<section class="sec sec-stretta">
  <h1>{{ stanza.titolo }}</h1>
  <p class=lead>{{ t("stanze.password.spiega") }}</p>

  {% if sbagliata %}
    <div class=err>{{ t("stanze.password.sbagliata") }}</div>
  {% endif %}

  <form method=post action="/{{ c.lingua.codice }}/stanza/{{ stanza.codice }}/entra">
    <label class=campo>
      <span>{{ t("entra.password") }}</span>
      <input type=password name=password required autocomplete=off autofocus>
    </label>
    <button class=chip><i>&#8594;</i><span>{{ t("stanze.password.bottone") }}</span></button>
  </form>

  <p class=nota>{{ t("stanze.codice") }}: <code>{{ stanza.codice }}</code></p>
</section>
{% endblock %}
